<!DOCTYPE html>
<html>
	<head>
		<title>RAG Dashboard</title>
		<link rel="stylesheet" href="/static/css/style.css?v=2">

	</head>
	<body>
		<div class="layout">
			<div class="sidebar">
				<h2>Dashboard</h2>
				<button onclick="dashboard()">Document RAG</button>
				<button onclick="Normalchat()">AI Chat</button>
				<button onclick="logout()">Logout</button>
			</div>
			<div class="main">
				<h1>Chat Bot</h1>  						
                <div class="card chat-card">
                    <h3>Ask Your Query</h3>
                    <div id="chatBox" class="chat-box">
                        <!-- <div class="bot"></div> -->
                    </div>
                    <div class="query-area">
                        <input id="query" placeholder="Ask your query...">
                        <!-- <button onclick="askQuestion()">Send</button> -->
                    </div>
				</div>
			</div>
		</div>
	
	<script src="/static/js/chatbot.js"></script>
	
	</body>
</html>