<!DOCTYPE html>
<html>
    <head>
        <title>RAG AI Login</title>
        <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
         <link rel="stylesheet" href="/static/css/style.css?v=2">
    </head>

    <body class="login-body">
        <div class="login-card">
            <h1>RAG AI Assistant</h1>
            <h4>Your Intelligent Document Assistant</h4>
            <form action="/dashboard" method="post" enctype="multipart/form-data">
                <input id="username" name="username" placeholder="Username">
                <input id="password" name="password" type="password" placeholder="Password">
                <button type="submit">Login</button>
            </form>
        </div>
    </body>
</html>